{% if star.published %} {# penser a faire la demande pour UNE entrée !!#}
    <article style=" border: 2px solid {{ star.color }}">
        <h1>  {{ star.title }} </h1>
        <p>{{ star.description }}</p>
        <img style="width: 25%" src="{{ star.image }}">
        <p>{{ star.publishedDate|date("d/m/Y") }}</p>
        <a href ={{ path('star', {'id': star.id}) }}>En savoir plus...</a>
        {# pour les liens, l'utilisation de la commande 'path" permet de créer les liens dans symfony.
         Le fait de rajouter le nom de la page  que l'on veux a partir du template au leiu d'un chemin 'type URL'
         permet d'avoir un lien permanent quel que soit l'utilisateur#}
    </article>
{% endif %}